html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

nav{
    background-color: rgb(211, 113, 56);
    align-content: center;
    font-family: monospace;
    text-align: center;
   


}

 nav ul{
    display: inline-block;
    padding: 10px;
   

}

nav ul li{
    display: inline;
    margin: 0px 20px;
    align-items: center;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    
}

nav ul li a:hover{
    cursor: pointer;
    color: black;
    
}


body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    
    
   
}

section{
    margin:20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px 30px;
    box-sizing: border-box;
    /* opacity: 0.7; */
    align-items: center;

}

img{
/* height: 100px; */
/* width: 100%; height: auto; */
}


#myskills{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    min-height: auto;
    background-image: url(techh.webp);
    /* background-image-opacity: .25 */
    /* filter: brightness(50%); */
    background-color: white;

    
}

#myskills h2{
    padding: 20px;
    /* background-color: red; */
    border-radius: 10PX;
    font-size: 30px;
    flex-grow: 1;
    text-align: center;
    /* opacity: 0.7; */
    color: white;
    
}

#myskills ul{
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
    gap: 20px;
    /* border: 10px solid; */
    border-radius: 20px ;
    flex-wrap: wrap;
    padding: 20px;
    
    
}

#myskills ul li{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 10px solid; */
    flex-wrap: wrap;
    /* max-width: 100%; */
    align-items: center;
    border-radius: 20px;
    /* opacity: 0.7; */
    background-color: grey;
    color: white;
    padding: 20px;
    /* font-size: 20px ; */
    
    
}

#myskills ul li img{
    max-width: 200px;
    

}

#myskills img:hover{
    opacity: 0.7;
    cursor: pointer;
}
/* 
@media (min-width: 600px) {
    ul li {
      flex: 1 1 45%; Two items per row
    }
} */

@media (min-width: 900px) {
    ul li {
      flex: 1 1 30%; /* Three items per row */
    }
  }

  ul p{
    padding: 10px;
    color: black;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
  }

  .team{
    max-width: 500px;
  }

  /* #myskills::before {
    content: "";  Create a pseudo-element
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('techh.webp');  Set your background image
    background-size: cover;  Ensures the background image covers the section
    background-position: center;  Centers the background image
    opacity: 0.5;  Set the opacity of the background image (0 = fully transparent, 1 = fully opaque)
    z-index: -1; 
  } */